.footer {
    display: flex;
    height: 25px;
    width: 100vw;
    background-color: grey;
    .footerLeft {
        display: flex;
        width: 50%;
        margin-left: 25px;
    }       
    .footerRight {
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        margin-right: 25px;
    }
}