.navBar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 50px;
    width: 100vw;
    background-color: green;
    overflow: hidden;
    .navbarLeft {
        display: flex;
        flex-direction: row;
        width: 50%;
        padding-left: 25px;
    }
    .navbarRight {
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        padding-right: 15px;
    }
    .navbarMiddle {
        display: flex;
        flex-direction: row;
        height: 100%;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: grey;
            height: 100%;
            min-width: 200px;
            &:hover {
                background-color: whitesmoke;
            }
        }
    }
}